*
{ 
    margin: 0;
    padding: 0;
}


/* html {
  cursor: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><foreignObject width="100%" height="100%" ><div xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;background:red;" class="c"  ></div></foreignObject > </svg>') , auto;
} */



body {
background-color:#4A6C8F;
font-family: "Pixelify Sans", sans-serif;
overflow-y: hidden !important;
overflow-x: hidden !important;
}

/* icons and text for ico start */








.whitelistForm
{
 position: absolute;
  top: 40%;
  left: 34%;
}












.address
{
position: absolute;
left: 7%;
top: 5% !important;
width: 80px !important;
height: 80px !important;
}


.textIconAddress
{
  position: absolute;

  font-size: 17px !important;
left: 6.8% !important;
top:17%;

}




.hood
{
position: absolute;
left: 7% !important;
top: 25% !important;

width: 80px !important;
height: 80px !important;
}


.textIconHood
{
  position: absolute;
  font-size: 17px !important;
  top: 37% !important;

padding-left: 8%  !important;
}



.vision
{
position: absolute;
left: 7%;
top: 45% !important;
width: 80px !important;
height: 80px !important;
}



.textIconVision
{
  position: absolute;
  left: 7.7% !important;
  top: 56.3% !important;
  font-size: 17px !important;
}







.twitter
{
position: absolute;
left: 7%;
top: 65% !important;
width: 80px !important;
height: 80px !important;
}

.textIconJoin
{
  position: absolute;
  left: 6.5% !important;
  top: 74.5% !important;
  font-size: 17px !important;
  padding-top: 9px;
  
}




#buttonHood
{
  top: 35%;
  font-size: 30px;
  border: none;
   position: absolute;
   display: flex;
   width: 8rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: 400;
   left: 33%;
   font-family: "Pixelify Sans", sans-serif;
   box-shadow:-3px -3px 0 0 #ffffff, 2px 2px 0 1px #a7a7a7
}
#buttonHood:active
{
  width: 7rem;
  margin: 0rem 0.50rem;
}

.send
{
  top: 45px;
  font-size: 30px;
  border: none;
   position: absolute;
   display: flex;
   width: 8rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: 400;
   left: 0%;
   font-family: "Pixelify Sans", sans-serif;
   box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7
}

.send:active
{
  width: 7rem;
  margin: 0rem 0.50rem;
  padding: 0.25rem 0rem;
}
.inputWhitelist

{
  font-size: 12px;
  border: none;
   position: absolute;
left: -90px;
   width: 21rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;
   font-weight: 400;

   box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7
}







.connectTwitter
{

  top: 100%;

  font-size: 25px;
  border: none;
   position: absolute;
   display: flex;
   width: 8rem;
   left: 44%;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: 400;
   font-family: "Pixelify Sans", sans-serif;
   box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7

}

.connectTwitter:active
{
  width: 7rem;
  margin: 0rem 0.50rem;
  padding: 0.25rem 0rem;
}

/* icons and text for ico end */




/* icons and text for ico / system window start */

.textSystemWindow
{
  position: absolute;
  left: 13%;
  top: 80%;
  font-size: 15px;
  z-index:9;
}



.blockCenter
{
  
    top: 97%;
    font-size: 30px;
    border: none;
     position: absolute;
      left: 10.9%;
     width: 150px;
     height:2px;
     margin: 0rem 0rem;

     -webkit-box-pack: center;
     justify-content: center;
   background-color: #a7a7a7;
     z-index:3;
     
  
}




.blockVertical
{
  
    top: 0%;
    font-size: 30px;
    border: none;
     position: absolute;
      left: 0%;
     width: 15px;
     height:267px;
     margin: 0rem 0rem;

     -webkit-box-pack: center;
     justify-content: center;
   background-color: #a7a7a7;
     z-index: 0;
     
  
}



.textIconJoinSystemWindow
{
  position: absolute;
  left: 33%;
  top: 65%;
  font-size: 15px;
  
}

.textIconAddressSystemWindow
{
  position: absolute;
  left: 33%;
  top: 87%;
  font-size: 15px;
  
}


.textIconHoodSystemWindow
{
  position: absolute;
  left: 33%;
  
  top: 20%;
  font-size: 15px;
}




.textIconVisionSystemWindow
{
  position: absolute;
  left: 33%;
 
  top: 45%;
  font-size: 15px;
}


.textSystemWindow:hover
{
background: #a7a7a7;
  width: 140px;

}



.textIconVisionSystemWindow:hover
{
background: #a7a7a7;
  width: 140px;

}



.textIconHoodSystemWindow:hover
{
background: #a7a7a7;
  width: 140px;

}



.textIconJoinSystemWindow:hover
{
background: #a7a7a7;
  width: 140px;

}

.textIconAddressSystemWindow:hover
{
  background: #a7a7a7;
  width: 140px;
}




.twitterSystemWindow
{
position: absolute;
left: 13%;
top: 62%;
width: 35px;
height: 35px;
}

.addressSystemWindow
{
position: absolute;
left: 13%;
top: 83%;
width: 35px;
height: 35px;
}

.hoodSystemWindow
{
position: absolute;
left: 13%;
top: 15%;
width: 35px;
height: 35px;
}




a.custom-link:hover {
  background-color: #ccc; /* Opcjonalne: Inny kolor tła po najechaniu myszą */
}

/* Po kliknięciu */
a.custom-link:active {
  background-color: #999; /* Opcjonalne: Inny kolor tła po kliknięciu */
}

.visionSystemWindow
{
position: absolute;
left: 13%;
top: 40%;
width: 35px !important;
height:35px !important;
}


/* icons and text for ico / system window end */


/* system window start  */
.systemWindow
{
  background-color:rgb(236, 236, 236);
  top: -250px;
 font-size: 30px;
 border: none;
  position: absolute;
  display: flex;
  width: 210px;
  height:250px ;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 9;
}
/* system window end */









/* system window  icone  twitter start  */
.systemWindowIconJoin
{
  background-color:rgb(236, 236, 236);
  top: -590px;
 font-size: 30px;
 left: 35%;
 border: none;
  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 3;
  
}

.blockCenterIconJoin
{
  top: 1%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 1%;
   width: 490px;
   height:35px;
   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
}


.blockCenterIconJoinText
{
  top: 2%;
  border: none;
   position: absolute;
    left: 3%;

   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
   font-size: 20px;
}

.iconJoinButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.iconJoinButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.twitterImage
{
  position: absolute;
  left: 22%;
  top: 20%;
  max-width:60%;
  max-height:55%;
}
.iconJoinText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}
p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone  twitter end */




/* system window  icone  Hood start  */
.systemWindowIconHood
{
  background-color:rgb(236, 236, 236);
  top: -590px;
 font-size: 30px;
 left: 35%;
 border: none;
  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7
}

.blockCenterIconHood
{
  top: 1%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 1%;
   width: 490px;
   height:35px;
   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
}


.blockCenterIconHoodText
{
  top: 2%;
  border: none;
   position: absolute;
    left: 3%;

   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
   font-size: 20px;
}

.iconHoodButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.iconHoodButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.hoodImage
{
  position: absolute;
  left: 22%; 
  top: 20%;
  max-width:60%;
  max-height:55%;
}
.iconHoodText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}
p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone  Hood end */








/* system window  icone  Vision start  */
.systemWindowIconVision
{
  background-color:rgb(236, 236, 236);
  top: -590px;
 font-size: 20px !important;
 left: 35%;
 border: none;
  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
  margin: 0rem 1rem;
  padding: 1rem 0.20rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  /* font-family: */
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7
}

.blockCenterIconVision
{
  top: 1%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 1%;
   width: 500px !important; 
   height:35px;
   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
}


.blockCenterIconVisionText
{
  top: 2%;
  border: none;
   position: absolute;
    left: 3%;

   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
   font-size: 20px;
}

.iconVisionButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.iconVisionButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.visionImage
{
  position: absolute;
  left: 22%;
  top: 20%;
  max-width:60%;
  max-height:55%;
}
.iconVisionText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}
p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone  Vision end */



















/* main bar start */
footer
{
  position:absolute;

  height: 80px;
  width: 100%;
  padding: 0;
  background-color:rgb(236, 236, 236);
  box-shadow: inset;
  bottom: 0 !important;
}
/* main bar end */


 





/* button on the main barr start */
.menubutton
{
 top: 15%;
 font-size: 30px;
 border: none;
  position: absolute;
  display: flex;
  width: 8rem;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7

}

.menubutton:active
{
  width: 7rem;
  margin: 0rem 0.50rem;
  padding: 0.25rem 0rem;
}
/* button on the main barr end */


/* button two on the main barr start */
.menubuttonTwo
{
 
    top: 15%;
    right: 0; 
    font-size: 30px;
    border: none;
    position: absolute; 
    display: flex;
    width: 8rem;
    margin: 0rem 1rem;
    padding: 0.50rem 0rem;
    /* justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-family: "Pixelify Sans", sans-serif;
    box-shadow: -3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
   */


}
/* button two on the main barr end */




/* fence start */
.blockLeft
{
  top: 15%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 10.9%;
   width: 4px;
   height:2.3rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
   box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
   z-index: 2;
   
}
.blockRight
{
  top: 15%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 65%;
    width: 4px;
   height:2.3rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
   box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
   z-index: 2;
}
/* fence end  */



/* button on the main bar end */


/* clock on the top bar start */
.clockOnTheTaskbar
{
  position: absolute;

  left: 70% !important;
  top: 19%;
  font-size: 30px;
}
/* clock on the top bar end */

/* clock icone start */
.fa
{
  position: absolute;
  left: 6% !important;
  top: 18%;
  font-size: 45px !important; 

}
/* clock icone end  */
a {
  color: #000000;
 background-color: rgba(0, 0, 0, 0) !important;
}


/*  moving text start */
.movingText {
 
  top:  0 !important;
  height: 150px;
  max-width: 53%;
  margin-left: 195px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.movingText div {

  display: block;
  
  width: 200%;
  height: 150px;
  position: absolute;
  overflow: hidden;
  -webkit-animation: movingText 10s linear infinite;
          animation: movingText 10s linear infinite;
}

.movingText span {
  float: left;
  width: 50%;
  font-size: 20px;
  padding-top:30px;
  letter-spacing: 2px;
}

@-webkit-keyframes movingText {
  0% { right: 0; }
  100% { right: -100%; }
}

@keyframes movingText {
  0% { right: 0; }
  100% { right: -100%; }
}

/*  moving text end */

/* movable block end */

#container {
  perspective: 25px;
}

#inner {
  position: relative;
  margin-top: 8%;
  left: 40%;
  max-width: 18em;
  max-height: 18em;
  padding-bottom: 0.5%;
  background-color: rgba(255, 255, 255, 0);

  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

/* movable block end */



@media (max-width: 2000px){



  /*  moving text start */
.movingText {
 

  margin-left: 245px;

}

  /*  moving text end */

}

@media (max-width: 1630px) {


/* icons and text for ico start */







/* system window  icone start  */
.systemWindowIconJoin
{

  top: -530px;
 font-size: 30px;
 left: 30%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;

}


.systemWindowIconHood
{
  
  top: -530px;
 font-size: 30px;
 left: 30%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
}


.systemWindowIconVision
{
  
  top: -530px;
 font-size: 30px;
 left: 30%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
}


.blockCenterIconJoin
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;

}

.blockCenterIconHood
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;

}

.blockCenterIconVision
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;

}


.blockCenterIconJoinText
{
  top: 2%;

    left: 3%;


   font-size: 20px;
}

.iconJoinButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}


.iconHoodButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}
.iconVisionButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}



.iconJoinButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}


.iconHoodButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}

.iconVisionButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}

.twitterImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}

.hoodImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}
.visionImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}





.iconJoinText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}

.iconHoodText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;
}



.iconVisionText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;
}



p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone end */


/* icons and text for ico end */

/* main bar start */

/* main bar end */

/* button on the main barr start */
.menubutton
{
 top: 15%;
 font-size: 30px;
  width: 8rem;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;


}
/* button on the main barr end */







/* fence start */
.blockLeft
{
  top: 15%;
  font-size: 30px;

    left: 9.9%;
   width: 4px;
   height:2.3rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;

   
}
.blockRight
{

  top: 15%;
  font-size: 30px;
    left: 70%;
    width: 4px;
   height:2.3rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;

}
/* fence end  */



/* button on the main bar end */


/* clock on the top bar start */
.clockOnTheTaskbar
{

  left:76% !important;
  top: 30% !important;
  font-size: 30px;
}
/* clock on the top bar end */

/* clock icone start */
.fa
{

  left: 72% !important;
  top: 25% !important;
  font-size: 45px !important; 

}
/* clock icone end  */
a {
 background-color: rgba(255, 228, 196, 0);
}


/*  moving text start */
.movingText {
 
  top:  15px;
  height: 150px;
  max-width: 58.2%;
  margin-left: 193px;

}

.movingText div {
  width: 200%;
  height: 150px;

}

.movingText span {
  width: 50%;
  font-size: 20px;
  padding-top:30px;
  letter-spacing: 2px;
}

/*  moving text end */

/* movable block end */

#container {
  perspective: 25px;
}

#inner {
  margin-top: 10%;
  left: 40%;


}

/* movable block end */





}
@media (max-width: 1515px) {



  /* moving text start */
  .movingText {
 
    top:  15px;
    height: 150px;
    max-width: 56.2%;
    margin-left: 185px;
  
  }
  /* moving text end */

    /* fence start */
    .blockLeft
    {
      top: 15%;
      font-size: 30px;
    
        left: 10.9%;
       width: 4px;
       height:2.3rem;
       margin: 0rem 1rem;
       padding: 0.50rem 0rem;
    
       
    }
    /* fence end  */
  /* clock on the top bar start */
.clockOnTheTaskbar
{

  left:70%;
  top: 19%;
  font-size: 30px;
}
/* clock on the top bar end */

/* clock icone start */
.fa
{

  left: 74%;
  top: 18%;
  font-size: 45px !important; 

}
/* clock icone end  */
}


@media (max-width:1320px) {

  .blockLeft
  {
    display: none;
  }
  .blockRight
  {
    display: none;
  }

  .movingText {
        display: none;
      
    }

}



  /* icons and text for ico start */


  
  
  
  
  /* icons and text for ico end */
  
  /* main bar start */

  /* main bar end */
  
  /* button on the main barr start */
  .menubutton
  {
   top: 15%;
   font-size: 30px;
    width: 8rem;
    margin: 0rem 1rem;
    padding: 0.50rem 0rem;
  
  
  }
  /* button on the main barr end */
  
  
  
  
  
  
  

  
  
  
  /* button on the main bar end */
  
  
  /* clock on the top bar start */
  .clockOnTheTaskbar
  {
  
    left: 50%;
    top: 19%;
    font-size: 30px;
  }
  /* clock on the top bar end */
  
  /* clock icone start */
  .fa
  {
  
    left: 46%;
    top: 18%;
    font-size: 45px !important; 

  
  }
  /* clock icone end  */
  
  @media (max-width: 1000px) {
    .fa
    {
    
   display: none;
    
    }

    .clockOnTheTaskbar
    {
      display: none;
    }
    
  }

  @media (max-width: 830px) {

/* movable block start */
    #inner {
      position: relative;
      margin-top: 20%;
      left: 35%;


    }
/* movable block end */





 
 
 
 

 
 
 /* clock on the top bar start */
 .clockOnTheTaskbar
 {
 
   left: 40%;
   top: 19%;
   font-size: 30px;
 }
 /* clock on the top bar end */
 
 /* clock icone start */
 .fa
 {
 
   left:30%;
   top: 18%;
   font-size: 45px !important; 
 
 }
 /* clock icone end  */




 /* system window  icone start  */
.systemWindowIconJoin
{

  top: -530px;
 font-size: 30px;
 left: 23%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;

}

.systemWindowIconHood
{

  top: -530px;
 font-size: 30px;
 left: 23%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;

}


.systemWindowIconVision
{

  top: -530px;
  font-size: 15px !important;
 left: 23%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;

}




.blockCenterIconJoin
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;

}


.blockCenterIconHood
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;
}

.blockCenterIconVision
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;
}




.blockCenterIconJoinText
{
  top: 2%;

    left: 3%;


   font-size: 20px;
}

.iconJoinButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}


.iconHoodButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;
}

.iconJoinButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}

.iconHoodButtonWindow

{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
}

.twitterImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}



.hoodImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}


.visionImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}





.iconJoinText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}

.iconHoodText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}

.iconVisionText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}





p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone end */


/* icons and text for ico end */
  }




  @media (max-width: 695px) {

  /* icons and text for ico start */

  


.textIconHood
{
left: 2% !important;
}


.textIconVision
{
 
  left:8.5% !important;

}


  
  
  /* icons and text for ico end */
  
  /* main bar start */

  /* main bar end */
  
  /* button on the main barr start */
  .menubutton
  {
   top: 15%;
   font-size: 30px;
    width: 8rem;
    margin: 0rem 1rem;
    padding: 0.50rem 0rem;
  
  
  }
  /* button on the main barr end */
  
  
  #buttonHood
  {
  
    top: 40%;
left: 24%;
z-index: 2;
  
  }
  
  .send
  {
  font-size: 17px;
    top:42px;
left: -30px;
z-index: 2;
  
  }



  .hoodText
  { 
    position: absolute;
    top: 100px ;
    font-size: 17px;
  }
  .inputWhitelist

{
font-size: 9px;
width: 250px;
}

  
  
  /* clock on the top bar start */
  .clockOnTheTaskbar
  {
  
    left: 40%;
    top: 19%;
    font-size: 30px;
  }
  /* clock on the top bar end */
  
  /* clock icone start */
  .fa
  {
  
    left:30%;
    top: 18%;
    font-size: 45px !important; 
  
  }
  /* clock icone end  */



/* system window  icone start  */



.systemWindowIconHood

{
  top: -530px;
 font-size: 30px;
 left: 10%;

  position: absolute;
  display: flex;
  width: 300px;
  height: 500px ;

}

.systemWindowIconVision

{
  top: -530px;
 font-size: 30px;
 left: 10%;

  position: absolute;
  display: flex;
  width: 300px;
  height: 500px ;

}






.blockCenterIconJoin
{
  top: 1%;
  font-size: 30px;
   width: 290px;
   height:35px;

}

.blockCenterIconHood
{
  top: 1%;
  font-size: 30px;
   width: 290px;
   height:35px;
}

.blockCenterIconVision

{
  top: 1%;
  font-size: 30px;
   width: 300px !important;
   height:35px;
}




.blockCenterIconJoinText
{
  top: 2%;

    left: 3%;


   font-size: 20px;
}

.iconJoinButtonX
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}


.iconHoodButtonX
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}

.iconVisionButtonX
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}





.iconJoinButtonWindow
{
  top: 2.5%;
  left: 77%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}

.iconHoodButtonWindow
{
  top: 2.5%;
  left: 77%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}


.iconVisionButtonWindow
{
  top: 2.5%;
  left: 77%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}



.twitterImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}


.hoodImage
{
  
    position: absolute;
    top: 20%;
    max-width:60%;
    max-height:55%;
  
  
}

.visionImage
{
  
    position: absolute;
    top: 20%;
    max-width:60%;
    max-height:55%;
  
  
}



.iconJoinText
{
  left: 1%;
  top: 70%;
position: absolute;
  color: #000000;
  font-size:20px;
}



.iconHoodText
{
  left: 1%;
  top: 72%;
position: absolute;
  color: #000000;
  font-size:20px;
}


.iconVisionText
{
  left: 1%;
  top: 70%;
position: absolute;
  color: #000000;
  font-size:20px;
}





p{
  position: absolute;
  display:contents;
  font-size: 9px;
}

/* system window icone end */


/* icons and text for ico end */









  }

  @media (max-width: 638px) {




    /* icons and text for ico start */

    

    
    /* icons and text for ico end */
    
    /* main bar start */

    /* main bar end */
    
    /* button on the main barr start */
    .menubutton
    {
     top: 15%;
     font-size: 30px;
      width: 8rem;
      margin: 0rem 1rem;
      padding: 0.50rem 0rem;
    
    
    }
    /* button on the main barr end */
    
    

    

    
    /* clock icone start */
    .fa
    {
    
      left: 47%;
      top: 18%;
      font-size: 45px !important; 
    
    }
    /* clock icone end  */










      /* clock on the top bar start */
  .clockOnTheTaskbar
  {
  
  display: none;
  }
  /* clock on the top bar end */

  }



  @media (max-width: 577px) {




    /* icons and text for ico start */ 
   


    
    
    /* icons and text for ico end */
    
    /* main bar start */
  
    /* main bar end */
    
    /* button on the main barr start */
    .menubutton
    {
     top: 15%;
     font-size: 30px;
      width: 8rem;
      margin: 0rem 1rem;
      padding: 0.50rem 0rem;
    
    
    }
    /* button on the main barr end */
    

    

    
    /* clock icone start */
    .fa
    {
    
      left: 45%;
      top: 18%;
      font-size: 45px !important; 
    
    }
    /* clock icone end  */

    #inner {
      position: relative;
      margin-top: 20%;
      left: 35%;


    }


  }



  
  @media (max-width: 476px) {




    /* icons and text for ico start */ 
    /* .textIconJoin
    {
      left: 3.7%;
      top: 68%;
      font-size: 20px;
      
    }
    
    
    .textIconHood
    {
      
      left: 2.5%;
    
      top: 29%;
      font-size: 20px;
    }
    
    
    
    
    
    
    .twitter
    {
    
    left: 5%;
    top: 60%;
    width: 60px;
    height: 60px;
    }
    .hood
    {
    left: 5%;
    top: 20%;
    width: 60px;
    height: 60px;
    }
    
    
    .vision
    {
    left: 5%;
    top: 40%;
    width: 60px;
    height: 60px;
    } */
    
    
    /* icons and text for ico end */
    
    /* main bar start */

    /* main bar end */
    
    /* button on the main barr start */
    .menubutton
    {
     top: 25%;
     font-size: 20px;
      width: 6rem;
      margin: 0rem 1rem;
      padding: 0.50rem 0rem;
    
    
    }
    /* button on the main barr end */
    /* button two on the main barr start */
.menubuttonTwo
{
 
    top: 15%;
 
    font-size: 20px;
    width: 6rem;
    margin: 0rem 1rem;
    padding: 0.50rem 0rem;



}
/* button two on the main barr end */
    

    

    
    /* clock icone start */
    .fa
    {
    
      left: 45%;
      top: 18%;
      font-size: 45px !important; 
    
    }
    /* clock icone end  */

    #inner {
      position: relative;
      margin-top:20%;
      left: 25%;
 

    }

    .connectTwitter
    {
      left: 35%;
    }

  }




  
  @media (max-width: 380px) {

    /* icons and text for ico start */ 

    .textIconHood
    {
    left:3% !important;
    }
    
    
    .textIconVision
    {
     
      left:8.5% !important;
    
    }
    
    .textIconJoin
    {
      left:3% !important;
    }
    
    .twitter
    {
    
    left: 5%;
    top: 60%;
    width: 60px;
    height: 60px;
    }
    .hood
    {
    left: 5%;
    top: 20%;
    width: 60px;
    height: 60px;
    }
    
    
    .vision
    {
    left: 5%;
    top: 40%;
    width: 60px;
    height: 60px;
    } */
    
    
    /* icons and text for ico end */
    
    /* main bar start */

    /* main bar end */
    
    /* button on the main barr start */
    .menubutton
    {
      top: 25%;
     font-size: 20px;
      width: 6rem;
      margin: 0rem 1rem;
      padding: 0.50rem 0rem;
    
    
    }
    /* button on the main barr end */
    
    

    /* button two on the main barr end */
    

    
    /* clock icone start */
    .fa
    {
    
      left: 45%;
      top: 18%;
      font-size: 45px !important; 
    
    }
    /* clock icone end  */



    /* system window  icone start  */
.systemWindowIconJoin
{

  top: -530px;
 font-size: 30px;
 left: 1%;

  position: absolute;
  display: flex;
  width: 300px;
  height: 500px ;

}

.systemWindowIconHood
{
  top: -530px;
  font-size: 30px;
  left: 1%;
 
   position: absolute;
   display: flex;
   width: 300px;
   height: 500px ;
}

.systemWindowIconVision
{
  top: -530px;
  font-size: 30px;
  left: 1%;

   position: absolute;
   display: flex;
   width: 300px;
   height: 500px ;
}

#inner {
  position: relative;
  margin-top:20%;
  left: 15%;


}

    /* system window  icone end  */
    }




    @media (max-width: 334px) {

      /* icons and text for ico start */ 
      /* .textIconJoin
      {
        left: 3.7%;
        top: 68%;
        font-size: 20px;
        
      }
      
      
      .textIconHood
      {
        
        left: 2.5%;
      
        top: 29%;
        font-size: 20px;
      }
      
      
      
      
      .textIconVision
      {
       
        left: 2.5%;
        top: 48%;
        font-size: 20px;
      }
      
      .twitter
      {
      
      left: 5%;
      top: 60%;
      width: 60px;
      height: 60px;
      }
      .hood
      {
      left: 5%;
      top: 20%;
      width: 60px;
      height: 60px;
      }
      
      
      .vision
      {
      left: 5%;
      top: 40%;
      width: 60px;
      height: 60px;
      }
       */
      
      /* icons and text for ico end */
      
      /* main bar start */
 
      /* main bar end */
      
      /* button on the main barr start */
      .menubutton
      {
        top: 25%;
       font-size: 20px;
        width: 6rem;
        margin: 0rem 1rem;
        padding: 0.50rem 0rem;
      
      
      }
      /* button on the main barr end */
      
      

      
  
      
      /* clock icone start */
      .fa
      {
      
        left:43%;
        top: 18%;
        font-size: 45px !important; 
      
      }
      /* clock icone end  */
  
      #inner {
        position: relative;
        margin-top:70%;
        left: 40%;
        width: 9em;
        height: 6em;
  
      }
      }


      