*
{ 
    margin: 0;
    padding: 0;
}

body {
background-color:rgb(226, 222, 169);
font-family: "Pixelify Sans", sans-serif;
overflow-y: hidden;
overflow-x: hidden;
}

/* icons and text for ico start */
.textIconEnvelope
{
  position: absolute;
  left: 3.7%;
  top: 70%;
  font-size: 30px;
  
}


.textIconPortfolio
{
  position: absolute;
  left: 2.5%;
  
  top: 31%;
  font-size: 30px;
}




.textIconServices
{
  position: absolute;
  left: 2.5%;
 
  top: 50%;
  font-size: 30px;
}

.envelope
{
position: absolute;
left: 5%;
top: 62%;
width: 70px;
height: 70px;
}
.portfolio
{
position: absolute;
left: 5%;
top: 20%;
width: 70px;
height: 70px;
}


.services
{
position: absolute;
left: 5%;
top: 40%;
width: 70px;
height: 70px;
}


/* icons and text for ico end */




/* icons and text for ico / system window start */

.textSystemWindow
{
  position: absolute;
  left: 13%;
  top: 80%;
  font-size: 15px;
  
}



.blockCenter
{
  
    top: 76%;
    font-size: 30px;
    border: none;
     position: absolute;
      left: 10.9%;
     width: 150px;
     height:2px;
     margin: 0rem 0rem;

     -webkit-box-pack: center;
     justify-content: center;
   background-color: #a7a7a7;
     z-index: 0;
     
  
}




.blockVertical
{
  
    top: 0%;
    font-size: 30px;
    border: none;
     position: absolute;
      left: 0%;
     width: 15px;
     height:267px;
     margin: 0rem 0rem;

     -webkit-box-pack: center;
     justify-content: center;
   background-color: #a7a7a7;
     z-index: 0;
     
  
}



.textIconEnvelopeSystemWindow
{
  position: absolute;
  left: 33%;
  top: 65%;
  font-size: 15px;
  
}


.textIconPortfolioSystemWindow
{
  position: absolute;
  left: 33%;
  
  top: 20%;
  font-size: 15px;
}




.textIconServicesSystemWindow
{
  position: absolute;
  left: 33%;
 
  top: 45%;
  font-size: 15px;
}


.textSystemWindow:hover
{
background: #a7a7a7;
  width: 140px;

}



.textIconServicesSystemWindow:hover
{
background: #a7a7a7;
  width: 140px;

}



.textIconPortfolioSystemWindow:hover
{
background: #a7a7a7;
  width: 140px;

}



.textIconEnvelopeSystemWindow:hover
{
background: #a7a7a7;
  width: 140px;

}






.envelopeSystemWindow
{
position: absolute;
left: 13%;
top: 62%;
width: 35px;
height: 35px;
}
.portfolioSystemWindow
{
position: absolute;
left: 13%;
top: 15%;
width: 35px;
height: 35px;
}


.servicesSystemWindow
{
position: absolute;
left: 13%;
top: 40%;
width: 35px;
height: 35px;
}


/* icons and text for ico / system window end */


/* system window start  */
.systemWindow
{
  background-color:rgb(236, 236, 236);
  top: -250px;
 font-size: 30px;
 border: none;
  position: absolute;
  display: flex;
  width: 210px;
  height:250px ;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7
}
/* system window end */









/* system window  icone  envelope start  */
.systemWindowIconEnvelope
{
  background-color:rgb(236, 236, 236);
  top: -590px;
 font-size: 30px;
 left: 35%;
 border: none;
  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7
}

.blockCenterIconEnvelope
{
  top: 1%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 1%;
   width: 490px;
   height:35px;
   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
}


.blockCenterIconEnvelopeText
{
  top: 2%;
  border: none;
   position: absolute;
    left: 3%;

   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
   font-size: 20px;
}

.iconEnvelopeButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.iconEnvelopeButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.envelopeImage
{
  position: absolute;
  left: 22%;
  top: 20%;
  max-width:60%;
  max-height:55%;
}
.iconEnvelopeText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}
p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone  envelope end */




/* system window  icone  Portfolio start  */
.systemWindowIconPortfolio
{
  background-color:rgb(236, 236, 236);
  top: -590px;
 font-size: 30px;
 left: 35%;
 border: none;
  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7
}

.blockCenterIconPortfolio
{
  top: 1%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 1%;
   width: 490px;
   height:35px;
   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
}


.blockCenterIconPortfolioText
{
  top: 2%;
  border: none;
   position: absolute;
    left: 3%;

   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
   font-size: 20px;
}

.iconPortfolioButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.iconPortfolioButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.portfolioImage
{
  position: absolute;
  left: 22%; 
  top: 20%;
  max-width:60%;
  max-height:55%;
}
.iconPortfolioText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}
p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone  Portfolio end */








/* system window  icone  Services start  */
.systemWindowIconServices
{
  background-color:rgb(236, 236, 236);
  top: -590px;
 font-size: 30px;
 left: 35%;
 border: none;
  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7
}

.blockCenterIconServices
{
  top: 1%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 1%;
   width: 490px;
   height:35px;
   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
}


.blockCenterIconServicesText
{
  top: 2%;
  border: none;
   position: absolute;
    left: 3%;

   margin: 0rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
 background-color: #a7a7a7;
   z-index: 2;
   font-size: 20px;
}

.iconServicesButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.iconServicesButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;
 border: none;
  position: absolute;
  display: flex;
  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-2px -2px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  z-index: 2;
}

.servicesImage
{
  position: absolute;
  left: 22%;
  top: 20%;
  max-width:60%;
  max-height:55%;
}
.iconServicesText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}
p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone  Services end */



















/* main bar start */
footer
{
  position:absolute;
  top: 86%;
  height: 200px;
  width: 100%;
  padding: 0;
  background-color:rgb(236, 236, 236);
  box-shadow: inset;
}
/* main bar end */


 





/* button on the main barr start */
.menuButtom
{
 top: 15%;
 font-size: 30px;
 border: none;
  position: absolute;
  display: flex;
  width: 8rem;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7

}
/* button on the main barr end */


/* button two on the main barr start */
.menuButtomTwo
{
 
    top: 15%;
    right: 0; 
    font-size: 30px;
    border: none;
    position: absolute; 
    display: flex;
    width: 8rem;
    margin: 0rem 1rem;
    padding: 0.50rem 0rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-family: "Pixelify Sans", sans-serif;
    box-shadow: -3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  


}
/* button two on the main barr end */




/* fence start */
.blockLeft
{
  top: 15%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 10.9%;
   width: 4px;
   height:2.3rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
   box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
   z-index: 2;
   
}
.blockRight
{
  top: 15%;
  font-size: 30px;
  border: none;
   position: absolute;
    left: 65%;
    width: 4px;
   height:2.3rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;
   -webkit-box-pack: center;
   justify-content: center;
   box-shadow:-3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
   z-index: 2;
}
/* fence end  */



/* button on the main bar end */


/* clock on the top bar start */
.clockOnTheTaskbar
{
  position: absolute;

  left: 70%;
  top: 19%;
  font-size: 30px;
}
/* clock on the top bar end */

/* clock icone start */
.fa
{
  position: absolute;
  left: 67%;
  top: 18%;
  font-size: 45px !important; 

}
/* clock icone end  */
a {
 background-color: rgba(255, 228, 196, 0);
}


/*  moving text start */
.movingText {
 
  top:  15px;
  height: 150px;
  max-width: 53%;
  margin-left: 195px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.movingText div {

  display: block;
  
  width: 200%;
  height: 150px;
  position: absolute;
  overflow: hidden;
  -webkit-animation: movingText 10s linear infinite;
          animation: movingText 10s linear infinite;
}

.movingText span {
  float: left;
  width: 50%;
  font-size: 20px;
  padding-top:30px;
  letter-spacing: 2px;
}

@-webkit-keyframes movingText {
  0% { right: 0; }
  100% { right: -100%; }
}

@keyframes movingText {
  0% { right: 0; }
  100% { right: -100%; }
}

/*  moving text end */

/* movable block end */

#container {
  perspective: 25px;
}

#inner {
  position: relative;
  margin-top: 10%;
  left: 40%;
  width: 20em;
  height: 18em;
  background-color: white;

  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

/* movable block end */

@media (max-width: 2000px){



  /*  moving text start */
.movingText {
 

  margin-left: 245px;

}

  /*  moving text end */

}

@media (max-width: 1630px) {


/* icons and text for ico start */
.textIconEnvelope
{
  left: 3.7%;
  top: 70%;
  font-size: 30px;
  
}


.textIconPortfolio
{
  
  left: 2.5%;

  top: 31%;
  font-size: 30px;
}




.textIconServices
{
 
  left: 2.5%;
  top: 50%;
  font-size: 30px;
}

.envelope
{

left: 5%;
top: 60%;
width: 70px;
height: 70px;
}
.portfolio
{
left: 5%;
top: 20%;
width: 70px;
height: 70px;
}


.services
{
left: 5%;
top: 40%;
width: 70px;
height: 70px;
}





/* system window  icone start  */
.systemWindowIconEnvelope
{

  top: -530px;
 font-size: 30px;
 left: 30%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;

}


.systemWindowIconPortfolio
{
  
  top: -530px;
 font-size: 30px;
 left: 30%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
}


.systemWindowIconServices
{
  
  top: -530px;
 font-size: 30px;
 left: 30%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;
}


.blockCenterIconEnvelope
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;

}

.blockCenterIconPortfolio
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;

}

.blockCenterIconServices
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;

}


.blockCenterIconEnvelopeText
{
  top: 2%;

    left: 3%;


   font-size: 20px;
}

.iconEnvelopeButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}


.iconPortfolioButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}
.iconServicesButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}



.iconEnvelopeButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}


.iconPortfolioButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}

.iconServicesButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}

.envelopeImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}

.portfolioImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}
.servicesImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}





.iconEnvelopeText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}

.iconPortfolioText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;
}



.iconServicesText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;
}



p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone end */


/* icons and text for ico end */

/* main bar start */
footer
{
  top: 86%;
  height: 200px;
  width: 100%;
  padding: 0;
}
/* main bar end */

/* button on the main barr start */
.menuButtom
{
 top: 15%;
 font-size: 30px;
  width: 8rem;
  margin: 0rem 1rem;
  padding: 0.50rem 0rem;


}
/* button on the main barr end */







/* fence start */
.blockLeft
{
  top: 15%;
  font-size: 30px;

    left: 10.9%;
   width: 4px;
   height:2.3rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;

   
}
.blockRight
{

  top: 15%;
  font-size: 30px;
    left: 70%;
    width: 4px;
   height:2.3rem;
   margin: 0rem 1rem;
   padding: 0.50rem 0rem;

}
/* fence end  */



/* button on the main bar end */


/* clock on the top bar start */
.clockOnTheTaskbar
{

  left:75%;
  top: 19%;
  font-size: 30px;
}
/* clock on the top bar end */

/* clock icone start */
.fa
{

  left: 72%;
  top: 18%;
  font-size: 45px !important; 

}
/* clock icone end  */
a {
 background-color: rgba(255, 228, 196, 0);
}


/*  moving text start */
.movingText {
 
  top:  15px;
  height: 150px;
  max-width: 58.2%;
  margin-left: 193px;

}

.movingText div {
  width: 200%;
  height: 150px;

}

.movingText span {
  width: 50%;
  font-size: 20px;
  padding-top:30px;
  letter-spacing: 2px;
}

/*  moving text end */

/* movable block end */

#container {
  perspective: 25px;
}

#inner {
  margin-top: 10%;
  left: 40%;
  width: 20em;
  height: 18em;

}

/* movable block end */





}
@media (max-width: 1515px) {



  /* moving text start */
  .movingText {
   
display: none;
  
  }
  /* moving text end */

    /* fence start */
    .blockLeft
    {
      display: none;
    }
    .blockRight
    {
      display: none;
    }
    /* fence end  */
  /* clock on the top bar start */
.clockOnTheTaskbar
{

  left:68%;
  top: 19%;
  font-size: 30px;
}
/* clock on the top bar end */

/* clock icone start */
.fa
{

  left: 65%;
  top: 18%;
  font-size: 45px !important; 

}
/* clock icone end  */
}

@media (max-width: 1195px) {


  /* icons and text for ico start */
  .textIconEnvelope
  {
    left: 3.7%;
    top: 70%;
    font-size: 30px;
    
  }
  
  
  .textIconPortfolio
  {
    
    left: 2.5%;
  
    top: 31%;
    font-size: 30px;
  }
  
  
  
  
  .textIconServices
  {
   
    left: 2.5%;
    top: 50%;
    font-size: 30px;
  }
  
  .envelope
  {
  
  left: 5%;
  top: 60%;
  width: 70px;
  height: 70px;
  }
  .portfolio
  {
  left: 5%;
  top: 20%;
  width: 70px;
  height: 70px;
  }
  
  
  .services
  {
  left: 5%;
  top: 40%;
  width: 70px;
  height: 70px;
  }
  
  
  /* icons and text for ico end */
  
  /* main bar start */
  footer
  {
    top: 86%;
    height: 200px;
    width: 100%;
    padding: 0;
  }
  /* main bar end */
  
  /* button on the main barr start */
  .menuButtom
  {
   top: 15%;
   font-size: 30px;
    width: 8rem;
    margin: 0rem 1rem;
    padding: 0.50rem 0rem;
  
  
  }
  /* button on the main barr end */
  
  
  
  
  
  
  

  
  
  
  /* button on the main bar end */
  
  
  /* clock on the top bar start */
  .clockOnTheTaskbar
  {
  
    left: 50%;
    top: 19%;
    font-size: 30px;
  }
  /* clock on the top bar end */
  
  /* clock icone start */
  .fa
  {
  
    left: 46%;
    top: 18%;
    font-size: 45px !important; 
  
  }
  /* clock icone end  */
  }

  @media (max-width: 830px) {

/* movable block start */
    #inner {
      position: relative;
      margin-top: 20%;
      left: 35%;
      width: 20em;
      height: 18em;

    }
/* movable block end */





 
 
 
 

 
 
 /* clock on the top bar start */
 .clockOnTheTaskbar
 {
 
   left: 40%;
   top: 19%;
   font-size: 30px;
 }
 /* clock on the top bar end */
 
 /* clock icone start */
 .fa
 {
 
   left:30%;
   top: 18%;
   font-size: 45px !important; 
 
 }
 /* clock icone end  */




 /* system window  icone start  */
.systemWindowIconEnvelope
{

  top: -530px;
 font-size: 30px;
 left: 23%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;

}

.systemWindowIconPortfolio
{

  top: -530px;
 font-size: 30px;
 left: 23%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;

}


.systemWindowIconServices
{

  top: -530px;
 font-size: 30px;
 left: 23%;

  position: absolute;
  display: flex;
  width: 500px;
  height: 500px ;

}




.blockCenterIconEnvelope
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;

}


.blockCenterIconPortfolio
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;
}

.blockCenterIconServices
{
  top: 1%;
  font-size: 30px;
   width: 490px;
   height:35px;
}




.blockCenterIconEnvelopeText
{
  top: 2%;

    left: 3%;


   font-size: 20px;
}

.iconEnvelopeButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}


.iconPortfolioButtonX
{
  top: 2.5%;
  left: 91%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;
}

.iconEnvelopeButtonWindow
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}

.iconPortfolioButtonWindow

{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
}

.envelopeImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}



.portfolioImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}


.servicesImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}





.iconEnvelopeText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}

.iconPortfolioText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}

.iconServicesText
{
  left: 7%;
  top: 80%;
position: absolute;
  color: #000000;

}





p{
  position: absolute;
  
  display:contents;
  font-size: 15px;
}

/* system window icone end */


/* icons and text for ico end */
  }




  @media (max-width: 695px) {

  /* icons and text for ico start */
  .textIconEnvelope
  {
    left: 3.7%;
    top: 70%;
    font-size: 30px;
    
  }
  
  
  .textIconPortfolio
  {
    
    left: 2.5%;
  
    top: 31%;
    font-size: 30px;
  }
  
  
  
  
  .textIconServices
  {
   
    left: 2.5%;
    top: 50%;
    font-size: 30px;
  }
  
  .envelope
  {
  
  left: 5%;
  top: 60%;
  width: 70px;
  height: 70px;
  }
  .portfolio
  {
  left: 5%;
  top: 20%;
  width: 70px;
  height: 70px;
  }
  
  
  .services
  {
  left: 5%;
  top: 40%;
  width: 70px;
  height: 70px;
  }
  
  
  /* icons and text for ico end */
  
  /* main bar start */
  footer
  {
    top: 86%;
    height: 200px;
    width: 100%;
    padding: 0;
  }
  /* main bar end */
  
  /* button on the main barr start */
  .menuButtom
  {
   top: 15%;
   font-size: 30px;
    width: 8rem;
    margin: 0rem 1rem;
    padding: 0.50rem 0rem;
  
  
  }
  /* button on the main barr end */
  
  

  
  

  
  
  /* clock on the top bar start */
  .clockOnTheTaskbar
  {
  
    left: 40%;
    top: 19%;
    font-size: 30px;
  }
  /* clock on the top bar end */
  
  /* clock icone start */
  .fa
  {
  
    left:30%;
    top: 18%;
    font-size: 45px !important; 
  
  }
  /* clock icone end  */



/* system window  icone start  */
.systemWindowIconEnvelope
{

  top: -530px;
 font-size: 30px;
 left: 10%;

  position: absolute;
  display: flex;
  width: 300px;
  height: 500px ;

}



.systemWindowIconPortfolio

{
  top: -530px;
 font-size: 30px;
 left: 10%;

  position: absolute;
  display: flex;
  width: 300px;
  height: 500px ;

}

.systemWindowIconServices

{
  top: -530px;
 font-size: 30px;
 left: 10%;

  position: absolute;
  display: flex;
  width: 300px;
  height: 500px ;

}






.blockCenterIconEnvelope
{
  top: 1%;
  font-size: 30px;
   width: 290px;
   height:35px;

}

.blockCenterIconPortfolio
{
  top: 1%;
  font-size: 30px;
   width: 290px;
   height:35px;
}

.blockCenterIconServices

{
  top: 1%;
  font-size: 30px;
   width: 290px;
   height:35px;
}




.blockCenterIconEnvelopeText
{
  top: 2%;

    left: 3%;


   font-size: 20px;
}

.iconEnvelopeButtonX
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}


.iconPortfolioButtonX
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}

.iconServicesButtonX
{
  top: 2.5%;
  left: 85%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.18rem 0rem;

}





.iconEnvelopeButtonWindow
{
  top: 2.5%;
  left: 77%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}

.iconPortfolioButtonWindow
{
  top: 2.5%;
  left: 77%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}


.iconServicesButtonWindow
{
  top: 2.5%;
  left: 77%;
 font-size: 12px;

  width: 1rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;

}



.envelopeImage
{
  position: absolute;
  top: 20%;
  max-width:60%;
  max-height:55%;
}


.portfolioImage
{
  
    position: absolute;
    top: 20%;
    max-width:60%;
    max-height:55%;
  
  
}

.servicesImage
{
  
    position: absolute;
    top: 20%;
    max-width:60%;
    max-height:55%;
  
  
}



.iconEnvelopeText
{
  left: 1%;
  top: 70%;
position: absolute;
  color: #000000;
  font-size:20px;
}



.iconPortfolioText
{
  left: 1%;
  top: 70%;
position: absolute;
  color: #000000;
  font-size:20px;
}


.iconServicesText
{
  left: 1%;
  top: 70%;
position: absolute;
  color: #000000;
  font-size:20px;
}





p{
  position: absolute;
  display:contents;
  font-size: 9px;
}

/* system window icone end */


/* icons and text for ico end */









  }

  @media (max-width: 638px) {




    /* icons and text for ico start */
    .textIconEnvelope
    {
      left: 3.7%;
      top: 70%;
      font-size: 30px;
      
    }
    
    
    .textIconPortfolio
    {
      
      left: 2.5%;
    
      top: 31%;
      font-size: 30px;
    }
    
    
    
    
    .textIconServices
    {
     
      left: 2.5%;
      top: 50%;
      font-size: 30px;
    }
    
    .envelope
    {
    
    left: 5%;
    top: 60%;
    width: 70px;
    height: 70px;
    }
    .portfolio
    {
    left: 5%;
    top: 20%;
    width: 70px;
    height: 70px;
    }
    
    
    .services
    {
    left: 5%;
    top: 40%;
    width: 70px;
    height: 70px;
    }
    
    
    /* icons and text for ico end */
    
    /* main bar start */
    footer
    {
      top: 86%;
      height: 200px;
      width: 100%;
      padding: 0;
    }
    /* main bar end */
    
    /* button on the main barr start */
    .menuButtom
    {
     top: 15%;
     font-size: 30px;
      width: 8rem;
      margin: 0rem 1rem;
      padding: 0.50rem 0rem;
    
    
    }
    /* button on the main barr end */
    
    

    

    
    /* clock icone start */
    .fa
    {
    
      left: 47%;
      top: 18%;
      font-size: 45px !important; 
    
    }
    /* clock icone end  */










      /* clock on the top bar start */
  .clockOnTheTaskbar
  {
  
  display: none;
  }
  /* clock on the top bar end */

  }



  @media (max-width: 577px) {




    /* icons and text for ico start */ 
    .textIconEnvelope
    {
      left: 3.7%;
      top: 69%;
      font-size: 20px;
      
    }
    
    
    .textIconPortfolio
    {
      
      left: 2.5%;
    
      top: 30%;
      font-size: 20px;
    }
    
    
    
    
    .textIconServices
    {
     
      left: 2.5%;
      top: 49%;
      font-size: 20px;
    }
    
    .envelope
    {
    
    left: 5%;
    top: 60%;
    width: 60px;
    height: 60px;
    }
    .portfolio
    {
    left: 5%;
    top: 20%;
    width: 60px;
    height: 60px;
    }
    
    
    .services
    {
    left: 5%;
    top: 40%;
    width: 60px;
    height: 60px;
    }
    
    
    /* icons and text for ico end */
    
    /* main bar start */
    footer
    {
      top: 86%;
      height: 200px;
      width: 100%;
      padding: 0;
    }
    /* main bar end */
    
    /* button on the main barr start */
    .menuButtom
    {
     top: 15%;
     font-size: 30px;
      width: 8rem;
      margin: 0rem 1rem;
      padding: 0.50rem 0rem;
    
    
    }
    /* button on the main barr end */
    

    

    
    /* clock icone start */
    .fa
    {
    
      left: 45%;
      top: 18%;
      font-size: 45px !important; 
    
    }
    /* clock icone end  */

    #inner {
      position: relative;
      margin-top: 20%;
      left: 35%;
      width: 15em;
      height: 18em;

    }


  }



  
  @media (max-width: 476px) {




    /* icons and text for ico start */ 
    .textIconEnvelope
    {
      left: 3.7%;
      top: 69%;
      font-size: 20px;
      
    }
    
    
    .textIconPortfolio
    {
      
      left: 2.5%;
    
      top: 30%;
      font-size: 20px;
    }
    
    
    
    
    .textIconServices
    {
     
      left: 2.5%;
      top: 49%;
      font-size: 20px;
    }
    
    .envelope
    {
    
    left: 5%;
    top: 60%;
    width: 60px;
    height: 60px;
    }
    .portfolio
    {
    left: 5%;
    top: 20%;
    width: 60px;
    height: 60px;
    }
    
    
    .services
    {
    left: 5%;
    top: 40%;
    width: 60px;
    height: 60px;
    }
    
    
    /* icons and text for ico end */
    
    /* main bar start */
    footer
    {
      top: 86%;
      height: 200px;
      width: 100%;
      padding: 0;
    }
    /* main bar end */
    
    /* button on the main barr start */
    .menuButtom
    {
     top: 15%;
     font-size: 20px;
      width: 6rem;
      margin: 0rem 1rem;
      padding: 0.50rem 0rem;
    
    
    }
    /* button on the main barr end */
    /* button two on the main barr start */
.menuButtomTwo
{
 
    top: 15%;
 
    font-size: 20px;
    width: 6rem;
    margin: 0rem 1rem;
    padding: 0.50rem 0rem;



}
/* button two on the main barr end */
    

    

    
    /* clock icone start */
    .fa
    {
    
      left: 45%;
      top: 18%;
      font-size: 45px !important; 
    
    }
    /* clock icone end  */

    #inner {
      position: relative;
      margin-top:50%;
      left: 33%;
      width: 9em;
      height: 6em;

    }

  }




  
  @media (max-width: 380px) {

    /* icons and text for ico start */ 
    .textIconEnvelope
    {
      left: 3.7%;
      top: 69%;
      font-size: 20px;
      
    }
    
    
    .textIconPortfolio
    {
      
      left: 2.5%;
    
      top: 30%;
      font-size: 20px;
    }
    
    
    
    
    .textIconServices
    {
     
      left: 2.5%;
      top: 49%;
      font-size: 20px;
    }
    
    .envelope
    {
    
    left: 5%;
    top: 60%;
    width: 60px;
    height: 60px;
    }
    .portfolio
    {
    left: 5%;
    top: 20%;
    width: 60px;
    height: 60px;
    }
    
    
    .services
    {
    left: 5%;
    top: 40%;
    width: 60px;
    height: 60px;
    }
    
    
    /* icons and text for ico end */
    
    /* main bar start */
    footer
    {
      top: 86%;
      height: 200px;
      width: 100%;
      padding: 0;
    }
    /* main bar end */
    
    /* button on the main barr start */
    .menuButtom
    {
     top: 15%;
     font-size: 20px;
      width: 6rem;
      margin: 0rem 1rem;
      padding: 0.50rem 0rem;
    
    
    }
    /* button on the main barr end */
    
    

    /* button two on the main barr end */
    

    
    /* clock icone start */
    .fa
    {
    
      left: 45%;
      top: 18%;
      font-size: 45px !important; 
    
    }
    /* clock icone end  */

    #inner {
      position: relative;
      margin-top:50%;
      left: 33%;
      width: 9em;
      height: 6em;

    }


    /* system window  icone start  */
.systemWindowIconEnvelope
{

  top: -530px;
 font-size: 30px;
 left: 1%;

  position: absolute;
  display: flex;
  width: 300px;
  height: 500px ;

}

.systemWindowIconPortfolio
{
  top: -530px;
  font-size: 30px;
  left: 1%;
 
   position: absolute;
   display: flex;
   width: 300px;
   height: 500px ;
}

.systemWindowIconServices
{
  top: -530px;
  font-size: 30px;
  left: 1%;
 
   position: absolute;
   display: flex;
   width: 300px;
   height: 500px ;
}



    /* system window  icone end  */
    }




    @media (max-width: 334px) {

      /* icons and text for ico start */ 
      .textIconEnvelope
      {
        left: 3.7%;
        top: 69%;
        font-size: 20px;
        
      }
      
      
      .textIconPortfolio
      {
        
        left: 2.5%;
      
        top: 30%;
        font-size: 20px;
      }
      
      
      
      
      .textIconServices
      {
       
        left: 2.5%;
        top: 49%;
        font-size: 20px;
      }
      
      .envelope
      {
      
      left: 5%;
      top: 60%;
      width: 60px;
      height: 60px;
      }
      .portfolio
      {
      left: 5%;
      top: 20%;
      width: 60px;
      height: 60px;
      }
      
      
      .services
      {
      left: 5%;
      top: 40%;
      width: 60px;
      height: 60px;
      }
      
      
      /* icons and text for ico end */
      
      /* main bar start */
      footer
      {
        top: 86%;
        height: 200px;
        width: 100%;
        padding: 0;
      }
      /* main bar end */
      
      /* button on the main barr start */
      .menuButtom
      {
       top: 15%;
       font-size: 20px;
        width: 6rem;
        margin: 0rem 1rem;
        padding: 0.50rem 0rem;
      
      
      }
      /* button on the main barr end */
      
      

      
  
      
      /* clock icone start */
      .fa
      {
      
        left:43%;
        top: 18%;
        font-size: 45px !important; 
      
      }
      /* clock icone end  */
  
      #inner {
        position: relative;
        margin-top:70%;
        left: 40%;
        width: 9em;
        height: 6em;
  
      }
      }


      